h1 {
  color: #66BFBF
}
h2 {
  color: #66BFBF
}
hr {
  border-color: red;
}

body {
  background-color: #fdd988;
}

.red {
  position: absolute;
  right: 950px;
  text-align: center;
  background-color: #40bad5;
}

.blue {
  position: absolute;
  right: 950px;
  text-align: center;
  background-color: #cee397;
}

.orange {
  position: absolute;
  right: 950px;
  text-align: center;
  background-color: #ffeb99
}

.sacred {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #b7efcd;
  text-align: center;
}

.secrecy {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #b7efcd;
  text-align: center;
}

.purple {
  position: absolute;
  right: 950px;
  text-align: center;
  background-color: #f4eeff
}

.pink {
  position: absolute;
  right: 850px;
  text-align: center;
  background-color: #f4eeff;
  width: 200px;
}

.ultimate {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #b7efcd;
  text-align: center;
}

.notebook {
position: absolute;
bottom: 50px;
right: 720px;
height: 55px;
width: 500px;
text-align:center;
}

.blueberry {
    position: fixed;
    bottom: 250px;
    left: 250px;
    height: 55px;
    width: 500px;
    text-align: center;
}

.cranberry {
    position: absolute;
    bottom: 250px;
    right: 250px;
    height: 55px;
    width: 500px;
    text-align: center;
}

.magenta {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #b7efcd;
  text-align: center;
}

.mango {
  position: absolute;
  top: 870px;
  left: 250px;
  height: 15px;
  width: 500px;
  text-align: center;
}

.banana {
  position: absolute;
  top: 870px;
  right: 250px;
  height: 15px;
  width: 500px;
  text-align: center;
}

.watermelon {
    position: absolute;
    top: 870px;
    left: 250px;
    height: 15px;
    width: 500px;
    text-align: center;
  }

  .kiwi {
    position: absolute;
    top: 870px;
    right: 250px;
    height: 15px;
    width: 500px;
    text-align: center;
  }

.estefan {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #b7efcd;
  text-align: center;
}

.cucumber {
    position: absolute;
    bottom: 250px;
    left: 250px;
    height: 55px;
    width: 500px;
    text-align: center;
}

.carrot {
    position: absolute;
    bottom: 250px;
    right: 250px;
    height: 55px;
    width: 500px;
    text-align: center;
}

.eggplant {
  position: absolute;
  bottom: 550px;
  right: 750px;
  height: 55px;
  width: 500px;
text-align: center;
}
