h1 {
  color: #66BFBF
}
h2 {
  color: #66BFBF
}
hr {
  border-color: red;
}

.red {
  position: absolute;
  right: 850px;
  text-align: center;
  background-color: #40BAD5;
}

.blue {
  position: absolute;
  right: 850px;
  text-align: center;
  background-color: #CEE397;
}

.orange {
  position: absolute;
  right: 850px;
  text-align: center;
  background-color: #FFEB99
}

.sacred {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #B7EFCD;
  text-align: center;
}

.secrecy {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #B7EFCD;
  text-align: center;
}

.purple {
  position: absolute;
  right: 850px;
  text-align: center;
  background-color: #F4EEFF;
}

.pink {
  position: absolute;
  right: 850px;
  text-align: center;
  background-color: #F4EEFF;
  width: 200px;
}

.ultimate {
  position: fixed;
  top: 0;
  right: 750px;
  height: 55px;
  width: 500px;
  background-color: #B7EFCD;
  text-align: center;
}

.notebook {
position: absolute;
bottom: 85px;
right: 720px;
height: 55px;
width: 500px;
text-align:center;
}
